.pop-up__input {
  padding: 0;
  width: 358px;
  height: 34px;
  border: 0;
  border-bottom: 1px solid #bcbcc4;
  font-size: 14px;
  line-height: 16.94px;
  font-weight: 400;
}

.pop-up__input:focus {
  outline: none;
}

@media (max-width: 767px) {
  .pop-up__input {
    width: 238px;
  }
}