.footer {
	max-width: 880px;
	display: flex;
	justify-content: flex-start;
	margin: 66px auto 0;
	padding-bottom: 66px;
}

@media (max-width: 921px) {
	.footer {
		margin-left: 19px;
	}
}
@media (max-width: 767px) {
	.footer {
		max-width: 282px;
		margin: 48px 0 0 19px;
		padding-bottom: 36px;
	}
}
